body{
    margin-top: 40px;
    background-image: url("/img/karl-anderson-HVGn7_dMNX0-unsplash.jpg");
    color: rgb(54, 223, 21);
    font-family: 'Orbitron', sans-serif;
    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    text-align: center;
    color: blue;
}
h3{
    color: darkgray;
}

#all-day{
    font-family: 'Orbitron', sans-serif;
    font-size: 56px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
#half-day{
    font-family: 'Orbitron', sans-serif;
    font-size: 56px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
.alarm{
    text-align: center;
}
p{
    color: rgb(54, 223, 21);
}
body, html {
    height: 100%;
    margin: 0;
}
  
.bg {
margin-top: 75px;

}